
.app {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    height: 100vh;
}

.container {
    margin: 0;
    padding-left: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 9px;
    width: 20em;
    height: 25em;
    position: absolute;
    margin-top: 8em;
}